# Clerk publishable key required for dev
VITE_CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcmsuYXF0aWxpbmsuY29tJA

# Optional: override API URLs in dev
VITE_API_URL=http://localhost:8081/api/v1
VITE_ACTIVITY_API_URL=http://localhost:8081/api/v1/activities
VITE_USER_API_URL=http://localhost:8080/api/v1/users
